[DEFAULT]
#Hour of the day
MonitorStartHour=0030
#Hour of the day
MonitorEndHour=2330
#Duration of each slot in seconds
SlotDuration=1800
#Loop sleep time in seconds
LoopSleepTime=150 
#Twilio Account SID
TwilioAccountSid=
#Twilio Authorization Code
TwilioAuthCode=
#CallerPhoneNumber
CallerPhoneNumber=
#ReceiverPhoneNumber
ReceiverPhoneNumber=
AlarmMessage=Hi, This is Bob !!!, Can you please check on me. I may be in trouble.


